.dashboardCard {
    position: relative;
    width: 280px;
    height: 100px;
    border-radius: 16px;
    overflow: hidden;
    color: white;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s ease;
    font-weight: 500;
    font-size: 1.4rem;
    z-index: 1;
  }
  
  .dashboardCard:hover {
    transform: scale(1.03);
  }
  
  /* Animación genérica */
  .dashboardCard::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    opacity: 0.3;
    z-index: 0;
    animation: floatAround 10s ease-in-out infinite alternate;
  }
  
  /* Animación genérica */
  @keyframes floatAround {
    0% {
      transform: translate(0px, 0px);
    }
    50% {
      transform: translate(20px, -20px);
    }
    100% {
      transform: translate(-10px, 10px);
    }
  }
  
  /* Variantes de color */
  .cardBlue {
    background-color: #1e3a8a;
  }
  .cardBlue::before {
    background: radial-gradient(circle at center, #3b82f6, #1e3a8a);
    top: -40px;
    left: -40px;
  }
  
  .cardBlue2 {
    background-color: #1e3a8a;
  }
  .cardBlue2::before {
    background: radial-gradient(circle at center, #3b82f6, #1e3a8a);
    top: -30px;
    right: -40px;
  }
  
  .cardBlue3 {
    background-color: #1e3a8a;
  }
  .cardBlue3::before {
    background: radial-gradient(circle at center, #3b82f6, #1e3a8a);
    top: 20%;
    left: 30%;
  }
  
  .cardOrange {
    background-color: #b45309;
  }
  .cardOrange::before {
    background: radial-gradient(circle at center, #f59e0b, #b45309);
    top: 20%;
    left: 30%;
  }
.dashboardNav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.dashboardNav .dashboardCard {
    flex-grow: 1;
}
.dashboardCard a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
.dashboardCard .icon {
    width: 2rem;
}

.welcomeMessage span {
  color: var(--primary);
  font-weight: 500;
}