USE [master]
GO
/****** Object:  Database [GPViviendaDb]    Script Date: 25/5/2025 07:11:15 ******/
CREATE DATABASE [GPViviendaDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GPViviendaDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GPViviendaDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GPViviendaDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GPViviendaDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GPViviendaDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GPViviendaDb]
GO
/****** Object:  Table [dbo].[approval_flow]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_flow](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[approval_flow_step]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_flow_step](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[flow_id] [int] NOT NULL,
	[step_order] [int] NOT NULL,
	[signator_role_id] [int] NULL,
	[signator_area_id] [int] NULL,
	[signator_id] [int] NULL,
	[is_required] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[approval_request]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[approval_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[flow_step_id] [int] NOT NULL,
	[item_id] [varchar](20) NOT NULL,
	[requested_by] [int] NOT NULL,
	[requested_at] [datetime] NOT NULL,
	[responsed_at] [datetime] NULL,
	[response] [bit] NULL,
	[comments] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[area]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[area](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[brand]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[brand](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[client_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[business_turn]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[business_turn](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[case_type_id] [int] NOT NULL,
	[originator_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[sended_at] [datetime] NULL,
	[updated_at] [datetime] NOT NULL,
	[status_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case_condition]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_condition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[case_id] [int] NOT NULL,
	[condition_id] [int] NOT NULL,
	[text_value] [text] NULL,
	[number_value] [decimal](18, 2) NULL,
	[date_value] [date] NULL,
	[boolean_value] [bit] NULL,
	[option_id] [int] NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[case_type]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[case_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](30) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[business_name] [varchar](100) NOT NULL,
	[email] [varchar](100) NULL,
	[phone_number] [varchar](15) NULL,
	[tax_id] [varchar](20) NULL,
	[type_id] [int] NOT NULL,
	[turn_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_address]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_address](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[street] [varchar](100) NOT NULL,
	[city] [varchar](50) NOT NULL,
	[state] [varchar](50) NOT NULL,
	[postal_code] [varchar](20) NOT NULL,
	[country] [varchar](50) NOT NULL,
	[is_primary] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_document]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[client_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[file_path] [varchar](255) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[client_type]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[client_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condition]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[description] [text] NULL,
	[type_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condition_category]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condition_category](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condition_option]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condition_option](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[condition_id] [int] NOT NULL,
	[option_value] [nvarchar](255) NOT NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[condition_type]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[condition_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[document_usage]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[document_usage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[document_id] [int] NOT NULL,
	[usage_type] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[clave_estado] [int] NOT NULL,
	[abreviacion_estado] [varchar](10) NOT NULL,
	[descripcion] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[guarantee_type]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[guarantee_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[individual]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[individual](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[tax_id] [varchar](20) NULL,
	[address_id] [int] NOT NULL,
	[client_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[individual_document]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[individual_document](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[individual_id] [int] NOT NULL,
	[document_id] [int] NOT NULL,
	[file_path] [varchar](255) NOT NULL,
	[uploaded_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[municipality_id] [int] NULL,
	[state_id] [int] NULL,
	[residential_development_id] [int] NULL,
	[land_type_id] [int] NULL,
	[category_id] [int] NULL,
	[owner_company_id] [int] NULL,
	[tax_payer_company_id] [int] NULL,
	[user_last_update_id] [int] NULL,
	[status_id] [int] NULL,
	[is_trust_owned] [bit] NULL,
	[cadastral_file] [varchar](20) NULL,
	[block_lot] [varchar](30) NULL,
	[address] [varchar](255) NULL,
	[area] [float] NULL,
	[built_area] [float] NULL,
	[comments] [varchar](255) NULL,
	[has_water_service] [bit] NULL,
	[has_drainage_service] [bit] NULL,
	[has_cfe_service] [bit] NULL,
	[notes] [varchar](255) NULL,
	[incorporation] [varchar](50) NULL,
	[incorporation_notes] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land_categories]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land_statuses]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land_statuses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[land_types]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[land_types](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lease_request]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lease_request](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[guarantee_id] [int] NULL,
	[guarantee_type_id] [int] NOT NULL,
	[owner_id] [int] NOT NULL,
	[commission_agreement] [bit] NOT NULL,
	[assignment_income] [bit] NOT NULL,
	[property_file] [varchar](20) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[status_id] [int] NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[lease_request_condition]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lease_request_condition](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lease_request_id] [int] NOT NULL,
	[condition_id] [int] NOT NULL,
	[text_value] [text] NULL,
	[number_value] [decimal](18, 2) NULL,
	[date_value] [date] NULL,
	[boolean_value] [bit] NULL,
	[option_id] [int] NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[municipios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_estado] [int] NOT NULL,
	[clave_municipio] [int] NOT NULL,
	[descripcion] [varchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[owner]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[owner](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[brand_id] [int] NOT NULL,
	[stage_id] [int] NOT NULL,
	[status_id] [int] NOT NULL,
	[originator_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_activity]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_activity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[title] [varchar](100) NOT NULL,
	[description] [text] NULL,
	[responsible_area_id] [int] NOT NULL,
	[responsible_id] [int] NULL,
	[due_date] [date] NOT NULL,
	[completed_date] [date] NULL,
	[status_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
	[created_by] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_activity_status]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_activity_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
	[color_code] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_event]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_event](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [text] NOT NULL,
	[tentative_date] [date] NOT NULL,
	[actual_date] [date] NULL,
	[project_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_land]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_land](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[project_id] [int] NOT NULL,
	[land_id] [int] NOT NULL,
	[area] [decimal](10, 2) NOT NULL,
	[build_area] [decimal](10, 2) NOT NULL,
	[type_id] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[project_land_type]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[project_land_type](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_tax]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_tax](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[land_id] [int] NULL,
	[property_tax_estatus_id] [int] NULL,
	[verified_user_id] [int] NULL,
	[tax_year] [int] NULL,
	[cadastral_value] [float] NULL,
	[cadastral_value_per_area] [float] NULL,
	[cadastral_value_per_built_area] [float] NULL,
	[receipt_file_url] [varchar](255) NULL,
	[tax_amount] [float] NULL,
	[penalties] [float] NULL,
	[other_charges] [float] NULL,
	[total_tax] [float] NULL,
	[discount] [float] NULL,
	[bonuses] [float] NULL,
	[others] [float] NULL,
	[net_payable] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[property_tax_status]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[property_tax_status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[residential_development]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[residential_development](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](60) NOT NULL,
	[city] [varchar](45) NOT NULL,
	[state] [varchar](45) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[stage]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[stage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[status]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[status](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
	[description] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[rol_id] [int] NOT NULL,
	[area_id] [int] NOT NULL,
	[hashed_password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_rol]    Script Date: 25/5/2025 07:11:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_rol](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[approval_flow] ON 

INSERT [dbo].[approval_flow] ([id], [name], [description], [is_active]) VALUES (1, N'Solicitud de contrato', N'Flujo para aprobación de contratos', 1)
INSERT [dbo].[approval_flow] ([id], [name], [description], [is_active]) VALUES (2, N'Caratula legal', N'Flujo para aprobación de carátulas legales', 1)
SET IDENTITY_INSERT [dbo].[approval_flow] OFF
GO
SET IDENTITY_INSERT [dbo].[area] ON 

INSERT [dbo].[area] ([id], [name]) VALUES (1, N'Comercial')
INSERT [dbo].[area] ([id], [name]) VALUES (2, N'Legal')
INSERT [dbo].[area] ([id], [name]) VALUES (3, N'Gestión')
SET IDENTITY_INSERT [dbo].[area] OFF
GO
SET IDENTITY_INSERT [dbo].[case_type] ON 

INSERT [dbo].[case_type] ([id], [name], [description]) VALUES (1, N'Technical', N'Casos técnicos relacionados con el proyecto')
INSERT [dbo].[case_type] ([id], [name], [description]) VALUES (2, N'Legal', N'Casos legales relacionados con el proyecto')
SET IDENTITY_INSERT [dbo].[case_type] OFF
GO
SET IDENTITY_INSERT [dbo].[client_type] ON 

INSERT [dbo].[client_type] ([id], [name]) VALUES (1, N'Persona Moral')
INSERT [dbo].[client_type] ([id], [name]) VALUES (2, N'Persona Física')
SET IDENTITY_INSERT [dbo].[client_type] OFF
GO
SET IDENTITY_INSERT [dbo].[condition] ON 

INSERT [dbo].[condition] ([id], [name], [description], [type_id], [category_id], [is_active], [created_at], [updated_at]) VALUES (1, N'Tipo de contrato', NULL, 5, 1, 1, CAST(N'2025-05-24T21:43:09.650' AS DateTime), CAST(N'2025-05-24T21:43:09.650' AS DateTime))
INSERT [dbo].[condition] ([id], [name], [description], [type_id], [category_id], [is_active], [created_at], [updated_at]) VALUES (2, N'Renta Mensual', NULL, 2, 1, 1, CAST(N'2025-05-24T21:43:09.650' AS DateTime), CAST(N'2025-05-24T21:43:09.650' AS DateTime))
INSERT [dbo].[condition] ([id], [name], [description], [type_id], [category_id], [is_active], [created_at], [updated_at]) VALUES (3, N'Renta Anterior', NULL, 2, 1, 1, CAST(N'2025-05-24T21:43:09.650' AS DateTime), CAST(N'2025-05-24T21:43:09.650' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[condition] OFF
GO
SET IDENTITY_INSERT [dbo].[condition_category] ON 

INSERT [dbo].[condition_category] ([id], [name], [description]) VALUES (1, N'Condiciones Comerciales', N'Condiciones relacionadas con aspectos comerciales')
INSERT [dbo].[condition_category] ([id], [name], [description]) VALUES (2, N'Condiciones Generales', N'Condiciones generales del contrato')
INSERT [dbo].[condition_category] ([id], [name], [description]) VALUES (3, N'Contención de riesgos económicos', N'Condiciones para mitigar riesgos económicos')
SET IDENTITY_INSERT [dbo].[condition_category] OFF
GO
SET IDENTITY_INSERT [dbo].[condition_option] ON 

INSERT [dbo].[condition_option] ([id], [condition_id], [option_value], [display_order], [is_active]) VALUES (1, 1, N'Primer Contrato', 1, 1)
INSERT [dbo].[condition_option] ([id], [condition_id], [option_value], [display_order], [is_active]) VALUES (2, 1, N'Renovación', 2, 1)
INSERT [dbo].[condition_option] ([id], [condition_id], [option_value], [display_order], [is_active]) VALUES (3, 15, N'Fecha de firma', 1, 1)
SET IDENTITY_INSERT [dbo].[condition_option] OFF
GO
SET IDENTITY_INSERT [dbo].[condition_type] ON 

INSERT [dbo].[condition_type] ([id], [name], [description]) VALUES (1, N'text', N'Campo de texto libre')
INSERT [dbo].[condition_type] ([id], [name], [description]) VALUES (2, N'number', N'Campo numérico')
INSERT [dbo].[condition_type] ([id], [name], [description]) VALUES (3, N'date', N'Campo de fecha')
SET IDENTITY_INSERT [dbo].[condition_type] OFF
GO
SET IDENTITY_INSERT [dbo].[document] ON 

INSERT [dbo].[document] ([id], [name]) VALUES (1, N'Acta Constitutiva c/Inscriptción RPP')
INSERT [dbo].[document] ([id], [name]) VALUES (2, N'Poder Representante Legal C/Inscripción RPP')
INSERT [dbo].[document] ([id], [name]) VALUES (3, N'Identificación Oficial Vigente')
SET IDENTITY_INSERT [dbo].[document] OFF
GO
SET IDENTITY_INSERT [dbo].[document_usage] ON 

INSERT [dbo].[document_usage] ([id], [document_id], [usage_type]) VALUES (1, 1, N'legal_entity')
INSERT [dbo].[document_usage] ([id], [document_id], [usage_type]) VALUES (2, 2, N'legal_entity')
INSERT [dbo].[document_usage] ([id], [document_id], [usage_type]) VALUES (3, 3, N'legal_entity')
SET IDENTITY_INSERT [dbo].[document_usage] OFF
GO
SET IDENTITY_INSERT [dbo].[estados] ON 

INSERT [dbo].[estados] ([id], [clave_estado], [abreviacion_estado], [descripcion]) VALUES (1, 1, N'AGS', N'Aguascalientes')
INSERT [dbo].[estados] ([id], [clave_estado], [abreviacion_estado], [descripcion]) VALUES (2, 2, N'BC', N'Baja California')
INSERT [dbo].[estados] ([id], [clave_estado], [abreviacion_estado], [descripcion]) VALUES (3, 3, N'BCS', N'Baja California Sur')
SET IDENTITY_INSERT [dbo].[estados] OFF
GO
SET IDENTITY_INSERT [dbo].[guarantee_type] ON 

INSERT [dbo].[guarantee_type] ([id], [name], [description]) VALUES (1, N'Propiedad libre de gravamen', N'Garantía con propiedad sin gravámenes')
INSERT [dbo].[guarantee_type] ([id], [name], [description]) VALUES (2, N'Estados financieros / contables', N'Garantía mediante estados financieros')
INSERT [dbo].[guarantee_type] ([id], [name], [description]) VALUES (3, N'Obligado Solidario', N'Garantía con obligado solidario')
SET IDENTITY_INSERT [dbo].[guarantee_type] OFF
GO
SET IDENTITY_INSERT [dbo].[land] ON 

SET IDENTITY_INSERT [dbo].[land] OFF
GO
SET IDENTITY_INSERT [dbo].[land_categories] ON 

INSERT [dbo].[land_categories] ([id], [description], [created_at], [updated_at]) VALUES (1, N'RENTADO', CAST(N'2025-05-25T07:00:40.380' AS DateTime), CAST(N'2025-05-25T07:00:40.380' AS DateTime))
SET IDENTITY_INSERT [dbo].[land_categories] OFF
GO
SET IDENTITY_INSERT [dbo].[land_statuses] ON 

INSERT [dbo].[land_statuses] ([id], [description], [created_at], [updated_at]) VALUES (1, N'ACTIVO', CAST(N'2025-05-25T07:01:08.923' AS DateTime), CAST(N'2025-05-25T07:01:08.923' AS DateTime))
SET IDENTITY_INSERT [dbo].[land_statuses] OFF
GO
SET IDENTITY_INSERT [dbo].[land_types] ON 

INSERT [dbo].[land_types] ([id], [description], [created_at], [updated_at]) VALUES (1, N'LOCAL', CAST(N'2025-05-25T07:01:35.160' AS DateTime), CAST(N'2025-05-25T07:01:35.160' AS DateTime))
SET IDENTITY_INSERT [dbo].[land_types] OFF
GO
SET IDENTITY_INSERT [dbo].[municipios] ON 

INSERT [dbo].[municipios] ([id], [id_estado], [clave_municipio], [descripcion]) VALUES (1, 1, 1, N'Aguascalientes')
INSERT [dbo].[municipios] ([id], [id_estado], [clave_municipio], [descripcion]) VALUES (2, 1, 2, N'Asientos')
INSERT [dbo].[municipios] ([id], [id_estado], [clave_municipio], [descripcion]) VALUES (3, 1, 3, N'Calvillo')
GO
SET IDENTITY_INSERT [dbo].[municipios] OFF
GO
SET IDENTITY_INSERT [dbo].[owner] ON 

INSERT [dbo].[owner] ([id], [name], [description]) VALUES (1, N'FIMSA', N'FIMSA como propietario')
INSERT [dbo].[owner] ([id], [name], [description]) VALUES (2, N'FEISA', N'FEISA como propietario')
INSERT [dbo].[owner] ([id], [name], [description]) VALUES (3, N'FIMSA / FEISA', N'Ambas entidades como propietarias')
SET IDENTITY_INSERT [dbo].[owner] OFF
GO
SET IDENTITY_INSERT [dbo].[project_activity_status] ON 

INSERT [dbo].[project_activity_status] ([id], [name], [description], [color_code]) VALUES (1, N'No visto', N'Actividad no revisada', N'#FF0000')
INSERT [dbo].[project_activity_status] ([id], [name], [description], [color_code]) VALUES (2, N'Visto', N'Actividad revisada pero no iniciada', N'#FFFF00')
INSERT [dbo].[project_activity_status] ([id], [name], [description], [color_code]) VALUES (3, N'En proceso', N'Actividad en progreso', N'#0000FF')
SET IDENTITY_INSERT [dbo].[project_activity_status] OFF
GO
SET IDENTITY_INSERT [dbo].[project_land_type] ON 

INSERT [dbo].[project_land_type] ([id], [name], [description]) VALUES (1, N'Local Construido', N'Local comercial ya construido')
INSERT [dbo].[project_land_type] ([id], [name], [description]) VALUES (2, N'Terreno en breña', N'Terreno sin construcciones')
INSERT [dbo].[project_land_type] ([id], [name], [description]) VALUES (3, N'Terreno con mejoras', N'Terreno con algunas mejoras básicas')
SET IDENTITY_INSERT [dbo].[project_land_type] OFF
GO
SET IDENTITY_INSERT [dbo].[residential_development] ON 

INSERT [dbo].[residential_development] ([id], [name], [city], [state], [created_at], [updated_at]) VALUES (1, N'Aguascalientes', N'1', N'1', CAST(N'2025-05-25T06:59:08.887' AS DateTime), CAST(N'2025-05-25T06:59:08.887' AS DateTime))
SET IDENTITY_INSERT [dbo].[residential_development] OFF
GO
SET IDENTITY_INSERT [dbo].[stage] ON 

INSERT [dbo].[stage] ([id], [name], [description]) VALUES (1, N'Negociación', N'Etapa inicial de negociación con el cliente')
INSERT [dbo].[stage] ([id], [name], [description]) VALUES (2, N'Solicitud', N'Solicitud formal recibida')
INSERT [dbo].[stage] ([id], [name], [description]) VALUES (3, N'En Proceso', N'Proyecto en proceso de ejecución')
SET IDENTITY_INSERT [dbo].[stage] OFF
GO
SET IDENTITY_INSERT [dbo].[status] ON 

INSERT [dbo].[status] ([id], [name], [description]) VALUES (1, N'Nuevo', N'Elemento recién creado')
INSERT [dbo].[status] ([id], [name], [description]) VALUES (2, N'En firmas', N'En proceso de firma')
INSERT [dbo].[status] ([id], [name], [description]) VALUES (3, N'Aceptado', N'Aceptado y aprobado')
SET IDENTITY_INSERT [dbo].[status] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([id], [full_name], [email], [rol_id], [area_id], [hashed_password]) VALUES (1, N'Administrador', N'admin@excadb.com', 1, 1, N'$2b$12$5r1.bjr72xbAL0X3jZtvkuqtObxMZG8waRP1h43RK3GPBBzaogWVq')
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[user_rol] ON 

INSERT [dbo].[user_rol] ([id], [name]) VALUES (1, N'Gerente')
INSERT [dbo].[user_rol] ([id], [name]) VALUES (2, N'Subdirector')
INSERT [dbo].[user_rol] ([id], [name]) VALUES (3, N'Director')
SET IDENTITY_INSERT [dbo].[user_rol] OFF
GO
/****** Object:  Index [UQ_flow_step_order]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[approval_flow_step] ADD  CONSTRAINT [UQ_flow_step_order] UNIQUE NONCLUSTERED 
(
	[flow_id] ASC,
	[step_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__client__129B8671D971B165]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[client] ADD UNIQUE NONCLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__client__AB6E616486AA2588]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[client] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__individu__129B867129AEC264]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[individual] ADD UNIQUE NONCLUSTERED 
(
	[tax_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UK_project_land]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[project_land] ADD  CONSTRAINT [UK_project_land] UNIQUE NONCLUSTERED 
(
	[project_id] ASC,
	[land_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E61640FC55F74]    Script Date: 25/5/2025 07:11:15 ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[approval_flow] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[approval_flow_step] ADD  DEFAULT ((1)) FOR [is_required]
GO
ALTER TABLE [dbo].[approval_request] ADD  DEFAULT (getdate()) FOR [requested_at]
GO
ALTER TABLE [dbo].[case] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[case] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[case] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[case_condition] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[client] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[client] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[client_address] ADD  DEFAULT ('México') FOR [country]
GO
ALTER TABLE [dbo].[client_address] ADD  DEFAULT ((1)) FOR [is_primary]
GO
ALTER TABLE [dbo].[client_document] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[condition] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[condition] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[condition] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[condition_option] ADD  DEFAULT ((0)) FOR [display_order]
GO
ALTER TABLE [dbo].[condition_option] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[individual] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[individual] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[individual_document] ADD  DEFAULT (getdate()) FOR [uploaded_at]
GO
ALTER TABLE [dbo].[land] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[land] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[land_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[land_categories] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[land_statuses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[land_statuses] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[land_types] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[land_types] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[lease_request] ADD  DEFAULT ((0)) FOR [commission_agreement]
GO
ALTER TABLE [dbo].[lease_request] ADD  DEFAULT ((0)) FOR [assignment_income]
GO
ALTER TABLE [dbo].[lease_request] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lease_request] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[lease_request] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[lease_request_condition] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[lease_request_condition] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[lease_request_condition] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[project] ADD  DEFAULT ((1)) FOR [stage_id]
GO
ALTER TABLE [dbo].[project] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[project] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[project] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[project_activity] ADD  DEFAULT ((1)) FOR [status_id]
GO
ALTER TABLE [dbo].[project_activity] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[project_activity] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[project_event] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[project_event] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[project_land] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[project_land] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[property_tax] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[property_tax] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[property_tax_status] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[property_tax_status] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[residential_development] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[residential_development] ADD  DEFAULT (getdate()) FOR [updated_at]
GO
ALTER TABLE [dbo].[approval_flow_step]  WITH CHECK ADD FOREIGN KEY([flow_id])
REFERENCES [dbo].[approval_flow] ([id])
GO
ALTER TABLE [dbo].[approval_flow_step]  WITH CHECK ADD FOREIGN KEY([signator_role_id])
REFERENCES [dbo].[user_rol] ([id])
GO
ALTER TABLE [dbo].[approval_flow_step]  WITH CHECK ADD FOREIGN KEY([signator_area_id])
REFERENCES [dbo].[area] ([id])
GO
ALTER TABLE [dbo].[approval_flow_step]  WITH CHECK ADD FOREIGN KEY([signator_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[approval_request]  WITH CHECK ADD FOREIGN KEY([flow_step_id])
REFERENCES [dbo].[approval_flow_step] ([id])
GO
ALTER TABLE [dbo].[approval_request]  WITH CHECK ADD FOREIGN KEY([requested_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[brand]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[case]  WITH CHECK ADD FOREIGN KEY([case_type_id])
REFERENCES [dbo].[case_type] ([id])
GO
ALTER TABLE [dbo].[case]  WITH CHECK ADD FOREIGN KEY([originator_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[case]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[case]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[case_condition]  WITH CHECK ADD FOREIGN KEY([case_id])
REFERENCES [dbo].[case] ([id])
GO
ALTER TABLE [dbo].[case_condition]  WITH CHECK ADD FOREIGN KEY([condition_id])
REFERENCES [dbo].[condition] ([id])
GO
ALTER TABLE [dbo].[case_condition]  WITH CHECK ADD FOREIGN KEY([option_id])
REFERENCES [dbo].[condition_option] ([id])
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD FOREIGN KEY([turn_id])
REFERENCES [dbo].[business_turn] ([id])
GO
ALTER TABLE [dbo].[client]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[client_type] ([id])
GO
ALTER TABLE [dbo].[client_address]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[client_document]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[client_document]  WITH CHECK ADD FOREIGN KEY([document_id])
REFERENCES [dbo].[document] ([id])
GO
ALTER TABLE [dbo].[condition]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[condition_category] ([id])
GO
ALTER TABLE [dbo].[condition]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[condition_type] ([id])
GO
ALTER TABLE [dbo].[condition_option]  WITH CHECK ADD FOREIGN KEY([condition_id])
REFERENCES [dbo].[condition] ([id])
GO
ALTER TABLE [dbo].[document_usage]  WITH CHECK ADD FOREIGN KEY([document_id])
REFERENCES [dbo].[document] ([id])
GO
ALTER TABLE [dbo].[individual]  WITH CHECK ADD FOREIGN KEY([address_id])
REFERENCES [dbo].[client_address] ([id])
GO
ALTER TABLE [dbo].[individual]  WITH CHECK ADD FOREIGN KEY([client_id])
REFERENCES [dbo].[client] ([id])
GO
ALTER TABLE [dbo].[individual_document]  WITH CHECK ADD FOREIGN KEY([document_id])
REFERENCES [dbo].[document] ([id])
GO
ALTER TABLE [dbo].[individual_document]  WITH CHECK ADD FOREIGN KEY([individual_id])
REFERENCES [dbo].[individual] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([guarantee_id])
REFERENCES [dbo].[individual] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([guarantee_type_id])
REFERENCES [dbo].[guarantee_type] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([owner_id])
REFERENCES [dbo].[owner] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[lease_request]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[lease_request_condition]  WITH CHECK ADD FOREIGN KEY([condition_id])
REFERENCES [dbo].[condition] ([id])
GO
ALTER TABLE [dbo].[lease_request_condition]  WITH CHECK ADD FOREIGN KEY([lease_request_id])
REFERENCES [dbo].[lease_request] ([id])
GO
ALTER TABLE [dbo].[lease_request_condition]  WITH CHECK ADD FOREIGN KEY([option_id])
REFERENCES [dbo].[condition_option] ([id])
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD FOREIGN KEY([id_estado])
REFERENCES [dbo].[estados] ([id])
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD FOREIGN KEY([brand_id])
REFERENCES [dbo].[brand] ([id])
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD FOREIGN KEY([originator_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD FOREIGN KEY([stage_id])
REFERENCES [dbo].[stage] ([id])
GO
ALTER TABLE [dbo].[project]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[status] ([id])
GO
ALTER TABLE [dbo].[project_activity]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[project_activity]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[project_activity]  WITH CHECK ADD FOREIGN KEY([responsible_area_id])
REFERENCES [dbo].[area] ([id])
GO
ALTER TABLE [dbo].[project_activity]  WITH CHECK ADD FOREIGN KEY([responsible_id])
REFERENCES [dbo].[user] ([id])
GO
ALTER TABLE [dbo].[project_activity]  WITH CHECK ADD FOREIGN KEY([status_id])
REFERENCES [dbo].[project_activity_status] ([id])
GO
ALTER TABLE [dbo].[project_event]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[project_land]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[project] ([id])
GO
ALTER TABLE [dbo].[project_land]  WITH CHECK ADD FOREIGN KEY([type_id])
REFERENCES [dbo].[project_land_type] ([id])
GO
ALTER TABLE [dbo].[project_land]  WITH CHECK ADD  CONSTRAINT [FK_project_land] FOREIGN KEY([land_id])
REFERENCES [dbo].[land] ([id])
GO
ALTER TABLE [dbo].[project_land] CHECK CONSTRAINT [FK_project_land]
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([area_id])
REFERENCES [dbo].[area] ([id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([rol_id])
REFERENCES [dbo].[user_rol] ([id])
GO
ALTER TABLE [dbo].[document_usage]  WITH CHECK ADD CHECK  (([usage_type]='individual' OR [usage_type]='physical_person' OR [usage_type]='legal_entity'))
GO
ALTER TABLE [dbo].[project_land]  WITH CHECK ADD CHECK  (([build_area]>=(0)))
GO
ALTER TABLE [dbo].[project_land]  WITH CHECK ADD CHECK  (([area]>(0)))
GO
USE [master]
GO
